In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\ASUS\OneDrive\Desktop\code\datasets\btcusd_1-min_data.csv")
df[:5]

      Timestamp  Open  High   Low  Close  Volume
0  1.325412e+09  4.58  4.58  4.58   4.58     0.0
1  1.325412e+09  4.58  4.58  4.58   4.58     0.0
2  1.325412e+09  4.58  4.58  4.58   4.58     0.0
3  1.325412e+09  4.58  4.58  4.58   4.58     0.0
4  1.325412e+09  4.58  4.58  4.58   4.58     0.0